
@{
    ViewBag.Title = "FilterOrder";
}

<table class="table-order">
    <thead>
        <tr><th>Дата и время звонка</th><th>Логин Оператора</th><th>Город обращения</th><th>К кому обращение</th><th>Ответственное лицо</th><th>Текст обращения</th><th>Статус оценки</th><th>Оценить</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string textoc = "";
            if (String.IsNullOrEmpty(item[8].ToString()))
            {
                textoc = "<td style=\"text-align:center; \"><span class=\"status\" style=\"color: red;\">Нет</span></td>";
            }
            else
            {
                textoc = "<td style=\"text-align:center; \"><span class=\"status\" style=\"color: green;\">Оценен</span></td>";
            }

            <tr id="@item[5].ToString().Trim()|@item[7].ToString().Substring(11).Replace(':', '_').Replace('.', '$')"><td>@ControlOper.Service.Function.ConvertStrDateTame(item[7].ToString().Substring(0, 19))</td><td>@item[0].ToString().Replace("\\\\MP\\", "")</td><td>@item[1].ToString()</td><td>@item[2].ToString()</td><td>@item[3].ToString()</td><td>@item[4].ToString()</td>@Html.Raw(textoc)<td class="center-text"><span style="background-color: #7fdfff;padding: 5px;border-radius: 3px;cursor: pointer;" onclick="showwindow('@item[5].ToString().Trim()|@item[7].ToString().Substring(11).Replace(':', '-').Replace('.', '$')')">Оценить</span></td></tr>
        }
    </tbody>

</table>
<div class="pagenavi">
    @if (ViewBag.namberpage == 1)
    {
        <a onclick="filterorder(1)" class="activlink">1</a>
    }
    else
    {
        if (ViewBag.namberpage > 4)
        {
            <a onclick="filterorder(1)">1</a><span style="font-size: 28px;position: relative;top: 8px;left: 2px;color: #44a6b6;">...</span>
        }
        else
        {
            <a onclick="filterorder(1)">1</a>
        }

    }
    @if (ViewBag.Colstrnic > 1)
    {
        for (int i = ViewBag.namberpage - 2; i < ViewBag.namberpage + 3; i++)
        {
            if (i > 1 && i < ViewBag.Colstrnic)
            {
                if (ViewBag.namberpage == i)
                {
                    <a onclick="filterorder(@i)" class="activlink">@i</a>
                }
                else
                {

                    <a onclick="filterorder(@i)">@i</a>
                }
            }
        }
        if (ViewBag.namberpage == ViewBag.Colstrnic)
        {
            <a onclick="filterorder(@ViewBag.Colstrnic)" class="activlink">@ViewBag.Colstrnic</a>
        }
        else
        {
            if (ViewBag.namberpage < ViewBag.Colstrnic - 3)
            {
                <span style="font-size: 28px;position: relative;top: 8px;left: -1px;color: #44a6b6;">...</span> <a onclick="filterorder(@ViewBag.Colstrnic)">@ViewBag.Colstrnic</a>
            }
            else
            {
                <a onclick="filterorder(@ViewBag.Colstrnic)">@ViewBag.Colstrnic</a>
            }

        }
    }

</div>
